.textoContacto{
    width: 223px;
    border: solid black;
    background-color: coral;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin: 10px;
    margin-left: 18px;
}

form{
    width: 263px;
    border: solid black;
    text-align: center;
    font-size: 13px;
    padding: 2px;
}

.row{
    margin: 30px;
}

.contacto2 {
    text-align: center;
    background-color: darksalmon;
    margin: 70px 20px 30px 20px;
    font-size: $size;
    border-radius: 15px;
}