@import "variableGlobal";
@import "operaciones";
@import "generales";
@import "nav";
@import "textos";
@import "imagenInicio";
@import "contacto";

header {
    grid-area: header;
}

nav{
    grid-area: nav;
}

footer {
    grid-area: footer;
}

/* index */

.textoInicial {
    grid-area: texto;
}

.imgIndex {
    grid-area: imagen;
}

/* autora */
.historia {
    grid-area: historia;
}

.rowling {
    grid-area: escritora;
}

.inspiraciones {
    grid-area: inspiraciones;
}

/* personajes principales */
.tituloP {
    grid-area: principales;
}

.harry {
    grid-area: harry;
}

.ron {
    grid-area: ron;
}

.hermione {
    grid-area: hermione;
}

.voldemort {
    grid-area: voldemort;
}

.dumbledore {
    grid-area: dumbledore;
}

.snape {
    grid-area: snape;
}

.hagrid {
    grid-area: hagrid;
}

.minerva {
    grid-area: minerva;
}

.draco {
    grid-area: draco;
}

.sirius {
    grid-area: sirius;
}

/* personajes secundarios */
.tituloS {
    grid-area: secundarios;
}

.neville {
    grid-area: neville;
}

.luna {
    grid-area: luna;
}

.remus {
    grid-area: remus;
}

.lucius {
    grid-area: lucius;
}

.arthur {
    grid-area: arthur;
}

.fred {
    grid-area: fred;
}

.george {
    grid-area: george;
}

.ginevra {
    grid-area: ginevra;
}

.molly {
    grid-area: molly;
}

.percy {
    grid-area: percy;
}

/* noticias */
.notas {
    grid-area: tituloNoti;
}

.articulos {
    grid-area: articulos;
}

/* peliculas */

.cronológico{
    grid-area: cronologico;
}
.pelis{
    grid-area: pelis;
}

/* contacto */
.contacto2 {
    grid-area: contactoTitulo;
}

.textoContacto{
    grid-area: textoContacto;
}

form {
    grid-area: formulario;
}

@media (min-width:0px) {
    .inicio {
        display: grid;
        width: 100%;
        grid-template-areas:
            "header"
            "texto"
            "imagen"
            "footer";
    }

    .autora {
        display: grid;
        width: 100%;
        grid-template-areas:
            "header"
            "historia"
            "escritora"
            "inspiraciones"
            "footer";
    }

    .personajesPrinc {
        display: grid;
        width: 100%;
        grid-template-areas:
            "header"
            "principales"
            "harry"
            "ron"
            "hermione"
            "voldemort"
            "dumbledore"
            "snape"
            "hagrid"
            "minerva"
            "draco"
            "sirius"
            "footer";
    }

    .personajesSec {
        display: grid;
        width: 100%;
        grid-template-areas:
            "header"
            "secundarios"
            "neville"
            "luna"
            "remus"
            "lucius"
            "arthur"
            "fred"
            "george"
            "ginevra"
            "molly"
            "percy"
            "footer";
    }

    .tituloSec,
    .tituloPrinc {
        font-size: 30px;
    }

    .principales,
    .secundarios {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: center;
    }

    .harry,
    .ron,
    .hermione,
    .voldemort,
    .dumbledore,
    .snape,
    .hagrid,
    .minerva,
    .draco,
    .sirius {
        margin: 1.5rem;
        font-size: 13px;
        flex-direction: column;
        width: 324px;
        height: 497px;
        align-items: center;
        justify-content: center;
    }

    .neville,
    .luna,
    .remus,
    .lucius,
    .arthur,
    .fred,
    .george,
    .ginevra,
    .molly,
    .percy {
        margin: 1rem;
        font-size: 13px;
        flex-direction: column;
        width: 333px;
        height: 395px;
        align-items: center;
        justify-content: center;
    }

    .peliculas{
        display: grid;
        width: 100%;
        grid-template-areas: 
        "header"
        "cronologico"
        "pelis"
        "footer";
    }
    .noticias {
        display: grid;
        width: 100%;
        grid-template-areas:
            "header"
            "tituloNoti"
            "articulos"
            "footer";
    }

    .contacto {
        display: grid;
        width: 100%;
        grid-template-areas:
            "header"
            "contactoTitulo"
            "textoContacto"
            "form"
            "footer";
    }

    .home {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .escritora{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cronologia{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media (min-width:500px){

    .textoInicial{
        width: 450px;
    }

    header{
        font-size: 1.5rem;
    }

    .personajesSec {
        justify-content: center;
    }

    .pelis{
        width: 480px;
        height: 569px;
    }


    .info {
        height: 524px;
    }
    .textoContacto{
        margin-left: 10px;
    }

    .flexContacto, .row{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 50px;
    }

    .row{
        width: 436px
    }

    .rowling{
        width: 501px;
        height: 795px;
    }

    .inspiraciones{
        width: 500px;
    }

}

@media (min-width:1024px) {

    .home {
        flex-direction: row;
        margin-top: 5rem;
        margin-bottom: 43px;
        justify-content: space-evenly;
    }

    header{
        font-size: 2rem;
    }
    
    .textoInicial {
        width: 520px;
        height: auto;
        font-size: 2rem;
        padding: 3rem;
        margin-right: 2rem;
    }

    .imgIndex {
        margin-top: 40px;
        margin-bottom: 40px;
        width: 397px;
        height: 300px;
        padding: 16px;
    }

    .rowling {
        font-size: 1.5rem;
        height: 921px;
    }

    .escritora {
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
    }

    .inspiraciones {
        margin-top: 15px;
        width: 486px;
        height: 230px;
    }

    .pelis{
        margin: 10px;
        width: 900px;
        height: 423px;
    }

    .textoContacto{
        height: 200px;
        margin-left: 10px;
    }

    form{
        width: 450px;
    }

    .flexContacto{
        flex-direction: row;
    }

    .row{
        width: 560px;
    }

    .col-md-4, .col-md-6, .col-md-3{
        width: 540px;
    }
}